p {
    margin-bottom: 50px;
}

h3 {
    padding: 20px 10px 10px 20px
    background-color: blue
}

h4 {
    background-color: yellow
}

p.thing {
    background-color: greenyellow
}

#other_thing {
    color: redn

}

#instrument {
    width: 1050px;
    height: 450px;
}